section .cardContainer {
    width: 550px;
    height: 550px;
    background: linear-gradient(to right, rgba(221, 232, 236, 0.555) 0%, rgba(237, 243, 218, 0.6) 60% );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.534);
    @include mq-600 {
        width: 350px;
        height: 350px;
        margin: 10px;
    }

    .card {
        width: 22.5%;
        height: 22.5%;
        position: relative; // for card .front and .back
        perspective: 800px; // for CSS card flip effect
    }

    .front, 
    .back {
        width: 100%;
        height: 100%;
        position: absolute;
        transition:all 0.5s;
        backface-visibility:hidden;
    }

    .front {
        background-image: url(./assets/cookieFront.png);
        background-color: transparent;
        background-size: 140px;
        background-position: -9px -12px;
        background-repeat: no-repeat;
        @include mq-600 {
            background-size: 88px;
            background-position: -4px -4px;
        }
    }

    li:last-of-type .front {
        background-image: url(./assets/cookieFrontBite.png);
    }

    .back {
      background: $yellow;
      transform:rotateY(-180deg);
    }

    .card.show .front {
      transform:rotateY(180deg);
    }

    .card.show .back {
        transform:rotateY(0);
    }

    .card.selected {
        // .selected class attached to cards clicked on
    }

    .card.matched {
        // if the two .selected cards match, then a .matched class is attached onto these cards and .selected is removed
        .back {
            transform:rotateY(0); // so that card does not flip back around to front position
        }
    }

    @keyframes wiggle {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(-10deg); }
        50% { transform: rotate(20deg); }
        75% { transform: rotate(-10deg); }
        100% { transform: rotate(0deg); }
    }

    .selected.wiggle {
        animation: wiggle 1s;
    }
}


