html {
    font-size: 62.5%;
}

.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    @include mq-700 {
        width: 97.5%;
    }
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

button {
    padding: 0;
    margin: 0;
    border: none;
}

button,
.card,
img {
    border-radius: 100%;
}

body {
    background: #c9dbe9;
    font-size: 2rem;
}