.wrapper {
    width: 85%;
    max-width: 600px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

button {
    padding: 0;
    margin: 0;
    border: none;
}

button,
.card,
img {
    border-radius: 100%;
}

body {
    background-image: url(./assets/virgin.jpg);
    // background-color: #00D5E4;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}