

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

h1 {
    color: red;
    
}

h1, 
p {
    text-align: center;
}

.startGame {
    margin: 0 auto;
}

