.gameBox {
    // width: auto;
    // height: 480px;
    // background: slateblue;
}


.cardContainer {
    width: auto;
    height: 80vh;
    background: slateblue;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    .card {
        flex: 0 1 30%;
        flex-wrap: wrap;
        height: 40%;
        background: cyan;
        border: 1px solid black;
    }
}
