article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  margin: 0;
  border: none;
}

button,
.card,
img {
  border-radius: 100%;
}

body {
  background: #c9dbe9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 2rem;
}

body {
  overflow: hidden;
}

#clouds {
  padding: 100px 0;
  background: #c9dbe9;
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

#clouds {
  position: absolute;
  top: 350px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
}

/*Time to finalise the cloud shape*/
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

/*Time to animate*/
.x1 {
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.6;
  /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: -250px;
  top: -200px;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite;
}

.x4 {
  left: 200px;
  top: -250px;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

.x5 {
  left: -150px;
  top: -150px;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 2000px;
  }
  100% {
    margin-left: -500px;
  }
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

h1 {
  font-family: 'Chewy', cursive;
  color: white;
  margin: 0;
  padding-bottom: 100px;
  text-shadow: -1px 1px 0px #56396d, -2px 2px 0px #56396d, -3px 3px 0px #56396d, -4px 4px 0px #56396d, -5px 5px 0px #56396d, -6px 6px 0px #56396d, -7px 7px 0px #56396d, -8px 8px 0px #56396d, -9px 9px 0px #56396d, -10px 10px 0px #56396d, -11px 11px 0px #56396d, -12px 12px 0px #56396d, 2px 2px 3px rgba(0, 0, 0, 0.521);
  font-size: 110px;
  letter-spacing: 8px;
  line-height: 110px;
  position: relative;
}

h1,
p {
  text-align: center;
}

.snackMatch {
  display: block;
  font-size: 90px;
  letter-spacing: 5.5px;
}

.snackLogo {
  width: 200px;
  position: absolute;
  margin-bottom: 40px;
  -webkit-animation: action 4s infinite;
          animation: action 4s infinite;
}

.logoOne {
  left: -120px;
}

.logoTwo {
  right: -100px;
}

.startGame {
  margin: 0 auto;
  background: #ffef9d;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  font-family: 'Kalam', cursive;
  font-size: 30px;
  color: #56396d;
  text-transform: uppercase;
  border: 2px solid #56396d;
  -webkit-box-shadow: -5px 10px #56396d;
          box-shadow: -5px 10px #56396d;
  margin-top: -50px;
  position: relative;
}

.startGame:hover {
  -webkit-animation: shake 2s linear infinite;
          animation: shake 2s linear infinite;
}

.startGame:active {
  position: relative;
  top: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes action {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes action {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes shake {
  10%, 50%, 60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  15%, 45%, 55% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  20%, 30%, 40% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  25%, 35% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}

@keyframes shake {
  10%, 50%, 60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  15%, 45%, 55% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  20%, 30%, 40% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  25%, 35% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}

section.cardSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  display: none;
  height: 100vh;
  margin: auto;
}

.mainWrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardContainer {
  width: 550px;
  height: 550px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(221, 232, 236, 0.555)), color-stop(60%, rgba(237, 243, 218, 0.6)));
  background: linear-gradient(to right, rgba(221, 232, 236, 0.555) 0%, rgba(237, 243, 218, 0.6) 60%);
  background-size: contain;
  padding: 7.5px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.534);
          box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.534);
}

.cardContainer .card {
  width: 22.5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 22.5%;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.cardContainer .front, .cardContainer .back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardContainer .front {
  background-image: url(./assets/snackCookies.png);
  background-color: transparent;
  background-size: 140px;
  background-position: -9px -12px;
  background-repeat: no-repeat;
}

.cardContainer li:last-of-type .front {
  background-image: url(./assets/cookieBite.png);
}

.cardContainer .back {
  background: yellow;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.cardContainer .card.show .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardContainer .card.matched .back {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.cardContainer .card.matched .front {
  opacity: 0;
}

.cardContainer .card.disabled {
  pointer-events: none;
}

.cardContainer .card.show .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.selected.wiggle {
  /* apply animation */
  -webkit-animation: wiggle 1s;
          animation: wiggle 1s;
}

section.gameStats {
  width: 550px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

section.gameStats .movesCounter,
section.gameStats .timeCounter,
section.gameStats .restartButton {
  background: rgba(254, 241, 166, 0.5);
  border-radius: 20px;
  padding: 6px 5px;
  width: 95px;
  -webkit-box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.534);
          box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.534);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Chewy', cursive;
  color: #604079d3;
}

section.gameStats .timeCounter {
  width: 110px;
  height: 50px;
  font-size: 2.8rem;
}

section.gameStats .moves {
  font-size: 3.4rem;
  color: white;
  text-shadow: 2px 2px .5px #604079d3;
  padding-left: 6px;
}

section.gameStats .counter {
  font-size: 2.8rem;
  padding: 0 10px 0 17px;
}

section.gameStats .restartButton {
  position: absolute;
  right: 120px;
  height: 50px;
  width: 60px;
  font-size: 2.6rem;
}

section.gameStats .restartButton:hover img {
  opacity: 0;
}

section.gameStats .restartButton:hover .restart {
  opacity: 1;
  font-size: 3.3rem;
}

section.gameStats .restart {
  opacity: 0;
  position: absolute;
  font-size: 3.3rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.winMessage {
  display: none;
  width: 40%;
  height: 55%;
  background: red;
  position: absolute;
  left: 30%;
}

.winMessage.userWon {
  display: block;
}
