article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .wrapper {
    width: 97.5%;
  }
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  margin: 0;
  border: none;
}

button,
.card,
img {
  border-radius: 100%;
}

body {
  background: #c9dbe9;
  font-size: 2rem;
}

body {
  overflow: hidden;
}

#clouds {
  overflow: hidden;
  padding: 100px 0;
  background: -linear-gradient(top, #9bc7e9, 30%, #daf0fa 100%);
  background: -moz-linear-gradient(top, #9bc7e9, 30%, #daf0fa 100%);
}

@media (max-width: 500px) {
  #clouds {
    padding: 0;
  }
}

#clouds {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
}

/*Time to finalise the cloud shape*/
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

/*Time to animate*/
.x1 {
  top: 290px;
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;
  top: 300px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.6;
  /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: -250px;
  top: 180px;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite;
}

.x4 {
  left: 200px;
  top: 250px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0.75;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

.x5 {
  left: -150px;
  top: 275px;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 2000px;
  }
  100% {
    margin-left: -500px;
  }
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: relative;
}

header .startButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 40px;
}

@media (max-width: 500px) {
  header .startButton {
    top: 25px;
  }
}

header h1 {
  font-family: "Chewy", cursive;
  color: white;
  text-shadow: -1px 1px 0px #56396d, -2px 2px 0px #56396d, -3px 3px 0px #56396d, -4px 4px 0px #56396d, -5px 5px 0px #56396d, -6px 6px 0px #56396d, -7px 7px 0px #56396d, -8px 8px 0px #56396d, -9px 9px 0px #56396d, -10px 10px 0px #56396d, -11px 11px 0px #56396d, -12px 12px 0px #56396d, 2px 2px 3px rgba(0, 0, 0, 0.521);
  font-size: 11.5rem;
  letter-spacing: .9rem;
  line-height: 10.5rem;
  text-align: center;
}

@media (max-width: 700px) {
  header h1 {
    font-size: 10rem;
    line-height: 9.5rem;
    letter-spacing: .6rem;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 7rem;
    letter-spacing: .40rem;
    line-height: 8rem;
    letter-spacing: .3rem;
    text-shadow: -1px 1px 0px #56396d, -2px 2px 0px #56396d, -3px 3px 0px #56396d, -4px 4px 0px #56396d, -5px 5px 0px #56396d, -6px 6px 0px #56396d, -7px 7px 0px #56396d, -8px 8px 0px #56396d, -9px 9px 0px #56396d, 2px 2px 3px rgba(0, 0, 0, 0.521);
  }
}

header h1 .h1LineBreak {
  display: block;
  font-size: 9rem;
  letter-spacing: .55rem;
}

@media (max-width: 700px) {
  header h1 .h1LineBreak {
    font-size: 7.9rem;
    letter-spacing: .4rem;
  }
}

@media (max-width: 500px) {
  header h1 .h1LineBreak {
    font-size: 5.3rem;
    line-height: 6rem;
    letter-spacing: .25rem;
  }
}

header .snackLogo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  -webkit-animation: tilting 4s infinite;
          animation: tilting 4s infinite;
}

@media (max-width: 900px) {
  header .snackLogo {
    width: 130px;
    position: absolute;
    bottom: -140px;
  }
}

@media (max-width: 700px) {
  header .snackLogo {
    width: 110px;
    bottom: -140px;
  }
}

header .softServe {
  margin-right: 5px;
}

@media (max-width: 900px) {
  header .softServe {
    left: 60px;
  }
}

@media (max-width: 700px) {
  header .softServe {
    left: 30px;
  }
}

@media (max-width: 600px) {
  header .softServe {
    display: none;
  }
}

@media (max-width: 900px) {
  header .fries {
    right: 60px;
  }
}

@media (max-width: 700px) {
  header .fries {
    right: 40px;
  }
}

@media (max-width: 600px) {
  header .fries {
    display: none;
  }
}

@-webkit-keyframes tilting {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tilting {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

header .letsEat {
  background: #ffef9d;
  border-radius: 40px;
  width: 300px;
  height: 100px;
  font-family: "Kalam", cursive;
  font-size: 4rem;
  color: #56396d;
  text-transform: uppercase;
  border: 2px solid #56396d;
  -webkit-box-shadow: -5px 10px #56396d;
          box-shadow: -5px 10px #56396d;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 700px) {
  header .letsEat {
    width: 270px;
    font-size: 3.5rem;
    height: 90px;
  }
}

@media (max-width: 500px) {
  header .letsEat {
    width: 230px;
    font-size: 3rem;
    height: 75px;
  }
}

header .letsEat:hover, header .letsEat:focus {
  height: 115px;
  width: 350px;
  -webkit-animation: shake 2s infinite;
          animation: shake 2s infinite;
  margin-top: -15px;
}

@media (max-width: 700px) {
  header .letsEat:hover, header .letsEat:focus {
    width: 300px;
    height: 100px;
    margin-top: -10px;
  }
}

@media (max-width: 500px) {
  header .letsEat:hover, header .letsEat:focus {
    width: 260px;
    height: 90px;
    margin-top: -15px;
  }
}

header .letsEat:active, header .letsEat:focus {
  position: relative;
  top: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ffe76a;
}

header .letsEat:focus {
  border: 4px solid #56396d;
}

@-webkit-keyframes shake {
  10%, 50%, 60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  15%, 45%, 55% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  20%, 30%, 40% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  25%, 35% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}

@keyframes shake {
  10%, 50%, 60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  15%, 45%, 55% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  20%, 30%, 40% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  25%, 35% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}

main {
  display: none;
  height: 100vh;
}

main .flexContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .flexContainer section.cardSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .cardContainer {
  width: 550px;
  height: 550px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(221, 232, 236, 0.555)), color-stop(60%, rgba(237, 243, 218, 0.6)));
  background: linear-gradient(to right, rgba(221, 232, 236, 0.555) 0%, rgba(237, 243, 218, 0.6) 60%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.534);
          box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.534);
}

@media (max-width: 600px) {
  section .cardContainer {
    width: 350px;
    height: 350px;
    margin: 10px;
  }
}

section .cardContainer .card {
  width: 22.5%;
  height: 22.5%;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
}

section .cardContainer .front,
section .cardContainer .back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

section .cardContainer .front {
  background-image: url(./assets/cookieFront.png);
  background-color: transparent;
  background-size: 140px;
  background-position: -9px -12px;
  background-repeat: no-repeat;
}

section .cardContainer .front:focus {
  -webkit-animation: wiggle 1s;
          animation: wiggle 1s;
}

@media (max-width: 600px) {
  section .cardContainer .front {
    background-size: 88px;
    background-position: -4px -4px;
  }
}

section .cardContainer li:last-of-type .front {
  background-image: url(./assets/cookieFrontBite.png);
}

section .cardContainer .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

section .cardContainer .card.show .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section .cardContainer .card.show .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

section .cardContainer .card.matched .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

section .cardContainer .selected.wiggle {
  -webkit-animation: wiggle 1s;
          animation: wiggle 1s;
}

section.scoreBoard {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

@media (max-width: 600px) {
  section.scoreBoard {
    width: 350px;
  }
}

section.scoreBoard .movesCounter,
section.scoreBoard .timeCounter,
section.scoreBoard .restartButton {
  background: rgba(254, 241, 166, 0.5);
  border-radius: 20px;
  padding: 6px 5px;
  width: 95px;
  -webkit-box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.534);
          box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.534);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Chewy", cursive;
  color: #7e539f;
  height: 50px;
}

@media (max-width: 600px) {
  section.scoreBoard .movesCounter,
  section.scoreBoard .timeCounter,
  section.scoreBoard .restartButton {
    height: 40px;
  }
}

section.scoreBoard .timeCounter {
  width: 110px;
  font-size: 2.8rem;
}

@media (max-width: 600px) {
  section.scoreBoard .timeCounter {
    font-size: 2.3rem;
  }
}

section.scoreBoard .moves {
  font-size: 3.4rem;
  color: white;
  text-shadow: 2px 2px 0.5px #56396d;
  padding-left: 6px;
}

@media (max-width: 600px) {
  section.scoreBoard .moves {
    font-size: 3rem;
  }
}

section.scoreBoard .counter {
  font-size: 2.8rem;
  padding: 0 10px 0 17px;
}

@media (max-width: 600px) {
  section.scoreBoard .counter {
    font-size: 2.3rem;
  }
}

section.scoreBoard .restartButton {
  position: absolute;
  right: 120px;
  width: 60px;
}

section.scoreBoard .restartButton img {
  opacity: 1;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

@media (max-width: 600px) {
  section.scoreBoard .restartButton img {
    width: 85%;
  }
}

section.scoreBoard .restartButton:hover img, section.scoreBoard .restartButton:focus img {
  opacity: 0;
}

section.scoreBoard .restartButton:hover .restart, section.scoreBoard .restartButton:focus .restart {
  opacity: 1;
  font-size: 3rem;
}

@media (max-width: 600px) {
  section.scoreBoard .restartButton:hover .restart, section.scoreBoard .restartButton:focus .restart {
    font-size: 2.8rem;
  }
}

section.scoreBoard .restartButton:active, section.scoreBoard .restartButton:focus {
  top: 5px;
  background: #ffef9d;
}

section.scoreBoard .restartButton:active .restart, section.scoreBoard .restartButton:focus .restart {
  font-size: 3.5rem;
}

section.scoreBoard .restart {
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.winMessage {
  display: none;
  width: 550px;
  height: 550px;
  margin-top: 50px;
  background: #ffef9d;
  position: absolute;
  font-family: "Kalam", cursive;
  color: #56396d;
  font-size: 4rem;
  -webkit-box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.534);
          box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.534);
  border-radius: 25px;
}

.winMessage h2 {
  margin: 30px 0 0;
}

.winMessage h2,
.winMessage p {
  text-align: center;
}

.winMessage .winCookie {
  width: 200px;
  margin: -20px auto 0;
}

.winMessage img {
  width: 100%;
}

.winMessage p {
  margin: 15px 0 20px;
  line-height: 5rem;
}

.winMessage .resetButton {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 80px;
  padding-bottom: 7px;
  background: #c9dbe9;
  color: white;
  font-family: "Chewy", cursive;
  text-shadow: -1px 1px 0px #56396d, -2px 2px 0px #56396d, -3px 3px 0px #56396d, -3px 3px 0px #56396d, -4px 4px 0px #56396d, 1px 1px 2px rgba(0, 0, 0, 0.621);
  -webkit-box-shadow: -5px 5px 1px #56396d;
          box-shadow: -5px 5px 1px #56396d;
}

.winMessage .resetButton:hover, .winMessage .resetButton:focus {
  background: #93b7d3;
}

.winMessage .resetButton:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.winMessage.userWon {
  display: block;
}
